
.main-container {
	margin-top: 10px;
	position: relative;
	display: block;
	/*display: flex;
	align-items: flex-start;*/
	flex-grow: 1;
	margin-top: 60px;
}

.lists-container {
	display: flex;
	align-items: flex-start;
	overflow-y: hidden;
	overflow-x: auto;
	user-select: none;
	margin-bottom: 8px;
	padding-bottom: 8px;
	position: absolute;
	/*position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	verflow-y: none;*/
}

.list-wrap {
	flex: 1;
	margin-left: 10px;
	padding: 10px;
	min-width: 272px;
	max-width: 272px;
	border-radius: 10px;
	/*position: relative;
	overflow-x: hidden;*/
	background-color: #CBC9C8;
}

.tasks-wrap {
	flex: 1;	
	/*position: relative;
	overflow-x: hidden;*/
}

.task { 
	display: flex;
	justify-content: space-between;
	padding: 0px 5px;
	align-items: center;
	width: 100%;
	background-color: #F5F0EE;
}

.btn-toggle {
	width: 30px;
	height: 30px;
	background-image: url("menu_32px.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	cursor: pointer;
	float: right;
}

.toggled-list-menu {
	visibility: hidden;
	display: flex;
	align-items: center;
	position: relative;
}

.is-expanded {
	visibility: visible;
	/*clear: both;*/
}

