.change-text-container {
	display: grid;
	width: 254px;
	border: solid 2px;
	row-gap: 3px;
	background-color: #E6EAF1;
	grid-template-columns: 84px 84px 84px;
	grid-template-rows: auto;
	grid-template-areas: 
		"input input input"
		"submit submit X";
	
}

.item1 {
	grid-area: input;
	margin: 2px 5px 0px 2px;
}

.item2 {
	grid-area: submit;
	margin-left: 2px;
	margin-bottom: 2px;
	place-self: center flex-start;
}

.item3 {
	grid-area: X;
	place-self: center flex-end;
	margin-right: 5px;
	margin-bottom: 2px;
}

.x-button {
	padding: 1px 2px;
}

.submit-button {
	padding: 5px 8px;
}

.btn-edit {
	width: 24px;
	height: 24px;
	background-image: url("edit_26px.png");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;
	cursor: pointer;
}

.btn-trash {
	width: 24px;
	height: 24px;
	background-image: url("trash_24.png");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;
	cursor: pointer;
	margin-left: 8px;
}