.container {
	display: grid;
	grid-template-columns: 50px 50px 50px;
	grid-template-rows: auto;
	grid-template-areas: 
		"input input input"
		"submit submit X";	
}

.item1 {
	grid-area: input;
}

.item2 {
	grid-area: submit;
}

.item3 {
	grid-area: X;
}