
main {
  /*min-height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

legend {
	font-size: 3rem;
}

.register-error {
	color: red;
  text-align: center;
}

.register-container {
  width: 80%;
  max-width: 500px;
  margin-top: 100px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 55px 15px 45px;
}

.register-wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-input {
  font-size: 1rem;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
  outline: none;
}

#submit_button:hover {
  color: white;
  background: #55647F;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  legend {
  	font-size: 1.5rem;
  }

  .register-input {
  	font-size: 0.9rem;
  	padding-left: 20px;
  }

  .register-container {
  	padding: 40px 55px 15px 45px;
  }
}

@media screen and (max-width: 650px) {
  .register-container {
  	width: 90%;
  	padding: 30px 20px 15px 20px;
  	margin-top: 60px;
  }

  .register-input {
  	font-size: 0.8rem;
  	padding-left: 15px;
  }

  #submit_button {
  	margin-top: 0;
  }

  .register-error {
  	font-size: 0.8rem;
  }
}