.change-list-name-form {
	z-index: 10;
	margin-bottom: 10px;
}

.list-bar {
	display: flex;
	padding: 1px 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	background-color: transparent;
}

.list-bar button {
	text-decoration: none;
	/*height: 1.7rem;*/
}
.list-edit-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-title {
	height: auto;
	font-size: 20px;
	max-width: 170px;
	word-wrap: break-word;
}